.container{
    position: static;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 770px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    border-style: solid;
    border-color:black;
    border-width:thin;
   }
   img{
    
    size: 100px;
   }

.one{
    color: red;
};
.fs-6{
    text-align: center;
}
.two{
color: red;
}
.three{
    color: red;
    };
.four{
    color: red;
}    
.five{
    color: red;
}
.six{
    color: red;
}

